[Desktop Entry]
Type=Application
Name=CurveMole
Comment=Modular Scientific Curve Fitting
Exec=CurveMole %f
Icon=curvemole
Categories=Science;Education;
Terminal=false
StartupNotify=true
StartupWMClass=CurveMole
MimeType=application/x-curvemole-project;
